@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<h4 class="text-info">
    Please confirm your email address.
</h4>
@{//<p class="text-danger">
   // For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
   // Please change this code to register an email service in IdentityConfig to send an email.
//</p>
//TODO Add email confirmation
