body {
}

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: white;
        text-decoration: none;
    }

.btn {
    background-color: #0DCAF0;
    border: 2px solid #0DCAF0;
    color: black;
    text-decoration: none;
}
.btn:hover {
    background-color: white;
    text-decoration: none;
}
    .btn a:hover {
        color: black;
        text-decoration: none;
    }
